// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container-fluid
{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 125px;
    background-color: transparent;
    padding-left:0 !important;  
    padding-right:0 !important;
    
}

.first-block {
    background:#fff;
    width:100%;   
    flex:1.2;
    padding-right:120px;
}
.second-block {
    background:#00843e;
    width:100%;   
    flex:1;
    padding-right:100px;
}
.social-block
{
    padding-top:15px;
}
.social-title
{
    font-size:12pt;
    font-family: 'Raleway', sans-serif;
    margin-right:5px;
}
.yt-icon,
.fb-icon
{
    height:35px;
    width:auto;
    margin-right:5px;
}
.contact-button,
.send-news-button
{
    border:2px solid #00843e;
    padding:5px 30px 5px 30px;
    background:transparent;
    font-size:12pt;
    color:#00843e;
    font-family: 'Raleway Regular', sans-serif;
    margin-right:30px;
}
.main-block
{
    
    max-width:1367px;
    display: -webkit-flex;
    display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
.content-block
{
    
    flex:3;
    
}
.advertisment-block
{
    
    
}
.big-news-image
{
    width:800px;
    height:auto;
    -webkit-box-shadow: -13px 13px 32px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 13px 32px -12px rgba(0,0,0,0.75);
    box-shadow: -13px 13px 32px -12px rgba(0,0,0,0.75);
}

.day-quote-block
{
    flex:1;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #00843e;
}
.day-quote::before
{
    font-family: 'Glyphicons Halflings';
    content: "\f10e";
}
.day-quote::after
{
    font-family: 'Glyphicons Halflings';
    content: "\e080";
}
.day-quote
{
     max-width: 50%;
     font-size:26pt;
}









.advertisment-image
{
    width:350px;
    height:auto;
    -webkit-box-shadow: -13px 13px 32px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 13px 32px -12px rgba(0,0,0,0.75);
    box-shadow: -13px 13px 32px -12px rgba(0,0,0,0.75);
}
.news-title
{
    text-decoration: none; 
    font-family: 'Raleway SemiBold';
    margin-top:20px;   
    font-size:16pt;
}






.logo
{
    border:1px solid #ffffff;
    margin-left:80px;
    margin-top:10px;
    position: relative;
    height:80px;
    width:auto;
    -webkit-box-shadow: -15px 14px 23px -10px rgba(0,0,0,0.36);
    -moz-box-shadow: -15px 14px 23px -10px rgba(0,0,0,0.36);
    box-shadow: -15px 14px 23px -10px rgba(0,0,0,0.36);
}
.navbar-custom {
    padding-right:0 px;
    padding-left:0 px;
    color:#432543;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    font-size:12pt;
    font-family: 'Raleway', sans-serif;
    line-height:100%;
    padding-top:20px;
    padding-bottom:20px;
    margin-right:20px;
}
.navbar-custom .navbar-nav > li > a:hover
{
    background:#00a94f;
    padding-top:20px;
    padding-bottom:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:blue;
}
.navbar-custom .navbar-brand {
    color:#eeeee3;
        
}
